# Node
node_modules/
.env
.env.*
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# VSCode
.vscode/

# OS
Thumbs.db
Desktop.ini

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Sensitive/Secrets
crs.env
